# Rust specific
**/target/
**/Cargo.lock

# Node.js specific
**/node_modules/
**/.pnp
**/.pnp.js
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.eslintcache

# Testing
**/coverage/

# Production
**/dist/

# IDE and editor folders
.idea/
.vscode/*
!.vscode/extensions.json
**/.nx
**/.nx/cache

# Misc
.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Project specific
.env
